.numAlphabetKeyboard {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    width: 100%;
    .key {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 30px;
        height: 50px;
        margin: 5px;
        border-radius: 4px;
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE/Edge */
        user-select: none;
        /* Non-prefixed version, currently supported by Chrome and Opera */
    }
    .key:active, .spaceKey:active {
        background-color: #00000010;
    }

    .controlKey {
        width: 50px;
    }

    .spaceKey {
        width: 70%;
    }

    .firstLine {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        width: 100%;
    }

    .seconendLine {
        display: flex;
        justify-content: center;
    }

    .thirdLineKeys {
        display: flex;
        justify-content: center;
    }

    .fourthLineKeys {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
}